<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/fairy_trip_db?serverTimezone=UTC</property>
        <property name="connection.username">root</property>
        <property name="connection.password">vsevse</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL57Dialect</property>
        <property name="hibernate.hbm2ddl.auto">create</property>
        <!--<property name="hibernate.hbm2ddl.auto">update</property>-->

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <mapping class="com.fairytrip.data.entities.Shoes" />
        <mapping class="com.fairytrip.data.entities.Clothes" />
        <mapping class="com.fairytrip.data.entities.Backpack" />
        <mapping class="com.fairytrip.data.entities.Dishes" />
        <mapping class="com.fairytrip.data.entities.Equipment" />
        <mapping class="com.fairytrip.data.entities.Food" />
        <mapping class="com.fairytrip.data.entities.Tent" />
        <mapping class="com.fairytrip.data.entities.SleepingBag" />
        <mapping class="com.fairytrip.data.entities.Admin" />
        <mapping class="com.fairytrip.data.entities.User" />
        <mapping class="com.fairytrip.data.entities.Basket" />
        <mapping class="com.fairytrip.data.entities.Order" />

    </session-factory>

</hibernate-configuration>